* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 1280px;
    background-image: url('./pictures/ракушка.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 3rem;
}

.button {
    display: inline-block;
    border: 2px solid #926239;
    border-radius: 10px;
    width: 130px;
    padding: 10px;
}

.button:hover {
    background-color: #926239;
    color: antiquewhite;
}

.font-brown {
    color: #926239;
}

.font-white {
    color: antiquewhite;
}

.align {
    text-align: center;
}

.padding {
    padding-bottom: 10px;
}

.color-scheme-b {
    background-color: #926239;
    color: antiquewhite;
    text-align: justify;
    padding: 20px;
}

.color-scheme-w {
    background-color: antiquewhite;
    color: #926239;
    text-align: justify;
    padding: 20px;
}

.bottom {
    display: flex;
    flex-direction: row;
}